*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
:root{
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    --Light-red-bg: hsla(0, 100%, 67%, 0.100);
    --Orangey-yellow-bg: hsla(39, 100%, 56%, 0.100);
    --Green-teal-bg: hsla(166, 100%, 37%, 0.100);
    --Cobalt-blue-bg: hsla(234, 85%, 45%, 0.100);

    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);

    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);

    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
     background-color: var(--Pale-blue);
}
.main{
    width: max(700px);
    height: max(500px);
    background-color: var(--White);
    display: inline-flex;
    box-shadow: 0 0px 5px 0px #dedede;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
}
.results{
    width: 350px;
    height: 100%;
    padding: 2rem 2.75rem 2rem 2.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    background: linear-gradient(to bottom, var(--Light-slate-blue), var(--Light-royal-blue));
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    color: white;
}
.text{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.circle{
    position: relative;
    height: min(180px,100%);
    width: min(180px,100%);
    background: linear-gradient(to bottom, var(--Violet-blue),var(--Persian-blue));
    border-radius: 50%;
    padding: auto;
    display: block;
    align-items: center;
    justify-content: center;
}
.summary{
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 2rem;
    margin: auto;
    width: 350px;
    height: 100%;
    text-align: left;
    border-radius: 0rem 1.25rem 1.25rem 0rem;
}
.summary > div{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.75rem;
    margin: 0.75rem 0 0.75rem 0;
    padding: 0.4rem;
    border-radius: 0.35rem;
    
}
.inline{
    display: inline-flex;
    align-items: center;
}
img{
    margin: auto;
    padding: 0.3rem;
}
.Reaction{
    color: var(--Light-red);
    background-color: var(--Light-red-bg);
}
.Memory{
    color: var(--Orangey-yellow);
    background-color: var(--Orangey-yellow-bg);
}
.Verbal{
    color: var(--Green-teal);
    background-color: var(--Green-teal-bg);
}
.Visual{
    color: var(--Cobalt-blue);
    background-color: var(--Cobalt-blue-bg);
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0 1rem 0;
    width: 100%;
    height: 2.75rem;
    color: var(--White);
    border: none;
    border-radius: 30px;
    background-color: var(--Dark-gray-blue);
    text-align: center;
    cursor: pointer;
    transition: 150ms, ease;
}
.button:hover{
    background-color: var(--Pale-blue);
    color: var(--Dark-gray-blue);
}
.button:focus{
    background: linear-gradient(to bottom, var(--Light-slate-blue), var(--Light-royal-blue));
    color: var(--White);
    box-shadow: 0 0px 5px 0px var(--Pale-blue);

}
@media only screen and (max-width:720px) {
    .main{
        width: 100%;
        border-radius: 0;
    }
    .summary{
        width: 200px;
    }
}
@media only screen and (max-width:425px) {
    .container{
        height: 100%;
    }
    .main{
        flex-direction: column;
        width: max(425px,100%);
        height: max-content;
        display: block;
        border-radius: 0;
    }
    .results{
        width: 100%;
        border-radius: 0 0 1.25rem  1.25rem;
        gap: 0;
    }
    .results > h2{
        margin: 0;
    }
    .circle{
        position: relative;
        height: 30vh;
        width: 30vh;
        background: linear-gradient(to bottom, var(--Violet-blue),var(--Persian-blue));
        border-radius: 50%;
        padding: auto;
        display: block;
        align-items: center;
        justify-content: center;
    }
    .summary{
        width: auto;
    }
}

.percentage{
    color: var(--Dark-gray-blue);
    font-weight: 500;
}
.total{
    color: var(--Light-lavender);
}
h1{
    font-size: 3.75rem;
    font-weight: 700;
}
.results > h2{
    color: var(--Pale-blue);
    margin-bottom: 1rem;
}
.summary > h3{
    color: var(--Dark-gray-blue);
    font-weight: 900;
}
.circle > .text > h4{
    color: var(--Light-lavender);
}
.results > p{
    color: var(--pale-blue);
}